{% extends "base.html" %}

{% block body_block %}
<script type="text/javascript">
function reset() {
  document.getElementById("s3_form").reset();
}
</script>

<div class="jumbotron">
    <h2>Storage service selected as Amazon S3</h2>
    <h3>Give your s3 credentials:</h3>
    <form id="s3_form" action="/storage_source/awsS3" enctype="multipart/form-data"  method="post">
      {% csrf_token %}
      <label for="BUCKET">Bucket name:</label>
      <input type="text" name="bucket" value="" placeholder="Enter Bucket Name" required>
      <br>
      <label for="ACCESS_ID">ACCESS_ID:</label>
      <input type="text" name="access_id" value="" placeholder="Enter ACCESS ID" required>
      <br>
      <label for="SECRET_KEY">SECRET_KEY:</label>
      <input type="text" name="secret_key" value="" placeholder="Enter SECRET KEY" required>
      <br>
      <label for="FILE_PATH">FILE_PATH(optional):</label>
      <input type="text" name="object_token" value="" placeholder="Enter file path">
      <br>
      <button type="submit" value="add" id="button1" class="btn btn-success" onsubmit="reset()">SUBMIT!!</button>
    </form>
</div>
{% endblock %}
